.div0 {
  padding: 2% 6%;
  background-image: linear-gradient(to bottom right, #526d829f, #05192D9f), url("./../../../public/resources/div0/FB_IMG_1685478918717.jpg");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.grid-container {
  display: grid;
  align-items: center;
  place-items: center; }
