.div1{
    color: white;
    background-color: #05192D;
    // background-image: url('../../../public/resources/bg-haikei.svg');
    padding: 4% 6%;
}

.icons{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    div{
        margin: auto 0;
        width: calc(100%/2);
    }
}

.img{
    display: grid;
    place-items: center;
}

.colab{
    display: flex;
    flex-direction: column;
}
